#container {
    display: flex;
    flex-wrap: wrap;
    /* width: 750px; 
    height: 750px;  */
    background-color: #ddd;
  }
  .grid-item {
    width: 45px;
    height: 45px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid black; 
  }
  .grid-item:hover {
    background-color: lightblue;
  }